footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
footer, footer a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: "Montserrat", Impact, sans-serif;
  font-weight: light;
  opacity: .8;
}
.reveal pre code {
  font-size: 120%;
  border-radius: 7px;
}
#title, #title h1, #title h3 {
  text-shadow: 0 0 5px black;
}
